<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temporal Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <pre id="context">{{ data.context | safe }}</pre>
    <div id="game-board"></div>
    <div id="relation-buttons">
        <div class="relation-button" draggable="true" data-relation="<">&lt;</div>
        <div class="relation-button" draggable="true" data-relation="=">=</div>
        <div class="relation-button" draggable="true" data-relation=">">&gt;</div>
        <div class="relation-button" draggable="true" data-relation="-">-</div>
    </div>
    <button id="reset-button">Reset Board</button>
    <script>
        const gameData = {{ data | tojson | safe }};
    </script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>